html, body {
    margin: 0;
    font-family: 'Lato';
    color: #2c3e50;
    background: #f3f6f9;
}
a {
    text-decoration: none;
    color: inherit;
}
.main {
    background:#f3f6f9;
}
.text {
    color: #f1c40f;
}
.navbar {
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    box-shadow: 0px 3px 0px #E8EAED;
}
.nav-btn {
    position: fixed;
    top: 7.5px;
    right: 20px;
    font-size: 14px;
    background: #f1c40f;
    padding: 0px 10px;
    border-radius: 5px;
    line-height: 35px;
    box-shadow: 0px 2px 0px #f39c12;
    
}
.nav-title {
    margin-left: 20px;
    float: left;
    font-size: 20px;
    line-height: 48px;
    color: #2c3e50;
    font-weight: bold;
}
.nav-item {
    float: left;
    line-height: 50px;
    font-size: 14px;
    margin-left: 20px;
}
.landing {
    margin: auto;
    width: 100%;
    height: 600px;
    text-align: center;
}
.landing-title {
    font-size: 80px;
    font-weight: bold;
    padding-top: 120px;
}
.landing-content {
    padding-bottom: 60px;
    font-size: 24px;
    padding-top: 100px;
}
.rangebar {
    padding-top: 100px;
    padding-bottom: 140px;
}
.container {
}
.container-dark {
    background: rgba(0,0,0,0.05);
}

.content {
    margin: 60px;
    padding: 40px;
    color: rgba(255,255,255,0.7);
    line-height: 24px;
    font-weight: 100;
}
.content-title {
    text-align: center;
    padding-top: 40px;
}

.box {
    width: 840px;
    margin: auto;
    height: 300px;
}
.interact {
    float: left;
    width: 29.3%;
    margin: 0px 2%;
    background: white;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px rgba(0,0,0,0.05);
}


/**/
.footer {
    background;;
}



input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 60%; /* Specific width is required for Firefox. */
  margin: auto;
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #2C3E50;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 3px 0px #f39c12;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 0px 3px 0px #f39c12;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 3px 0px #f39c12;
  background: #F1C40F;
  border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F1C40F;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 3px 0px #f39c12;
  background: #F1C40F;
  border-radius: 1.3px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #F1C40F;
  border-radius: 2.6px;
  box-shadow: 0px 3px 0px #f39c12;
}
input[type=range]:focus::-ms-fill-lower {
  background: #F1C40F;
}
input[type=range]::-ms-fill-upper {
  background: #F1C40F;
  border-radius: 2.6px;
  box-shadow: 0px 3px 0px #f39c12;
}
input[type=range]:focus::-ms-fill-upper {
  background: #F1C40F;
}





#disqus_thread {
    width: 80%;
    margin: auto;
}